<!-- src/app/app.component.html -->
<app-toasts></app-toasts>
<nav class="navbar navbar-expand-md" [ngClass]="{'motion': isMotion}">

  <div class="container-fluid" >
    <a class="navbar-brand" routerLink="/books">BookQuotes</a>

    <!-- Custom toggler -->
    <button class="navbar-toggler custom-toggler collapsed d-md-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <!--meny… -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/books">Böcker</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/quotes">Mina citat</a></li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-2" (click)="toggleTheme()">
          <i [ngClass]="{ 'fa-regular fa-moon': !isDark, 'fa fa-sun': isDark }"></i>
        </button>

        <button class="btn btn-outline-danger" *ngIf="auth.isLoggedIn()" (click)="logout()">Logga ut</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet />